@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bookstore</h1>
    <p>Learn about this project by clicking  <a href="https://github.com/Vaishnavipurkar/BookstoreApp">here</a>.</p>
    <img class="im" src="https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg" />
</div>
